CanvasDragMove/Service References/InfoConfigService/InfoConfigService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.163.14/ScmisService/InfoConfigService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" />
  <xs:import schemaLocation="http://192.168.163.14/ScmisService/InfoConfigService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.163.14/ScmisService/InfoConfigService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" />
  <xs:import schemaLocation="http://192.168.163.14/ScmisService/InfoConfigService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subsystemName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="LoginResult" nillable="true" type="q1:LoginDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subsystemName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyUserPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHasSubsystemAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="passgrade" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="systemName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHasSubsystemAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsHasSubsystemAuthResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heartbeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartbeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="HeartbeatResult" nillable="true" type="q2:LoginDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFtpUpload">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFtpUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetFtpUploadResult" nillable="true" type="q3:ArrayOfCfgParameterDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFtpServerInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFtpServerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetFtpServerInfoResult" nillable="true" type="q4:FtpServerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigure">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetConfigureResult" nillable="true" type="q5:BsDeviceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceRelationIp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceRelationIpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDeviceRelationIpResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScmisMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="dto" nillable="true" type="q7:ScmisMessageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScmisMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddScmisMessageResult" nillable="true" type="q8:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmScmisMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmScmisMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="ConfirmScmisMessageResult" nillable="true" type="q10:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDictionaryByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDictionaryByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="QueryDictionaryByTypeResult" nillable="true" type="q11:ArrayOfBsDictionaryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationLogAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="method" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationLogAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOperationLogAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOperationLogAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllOperationLogAsPageResult" nillable="true" type="q12:SysOperationLogListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationLogsByInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationLogsByInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetOperationLogsByInfoResult" nillable="true" type="q13:SysOperationLogListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationLogsByInfoAndTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationLogsByInfoAndTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetOperationLogsByInfoAndTimeResult" nillable="true" type="q14:SysOperationLogListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStaffs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStaffsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllStaffsResult" nillable="true" type="q15:ArrayOfBsStaffDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStaffsAsPageone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStaffsAsPageoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllStaffsAsPageoneResult" nillable="true" type="q16:BsStaffListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsStaffByInfoAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsStaffByInfoAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetBsStaffByInfoAsPageResult" nillable="true" type="q17:BsStaffListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsStaffByInfoAsPageone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsStaffByInfoAsPageoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetBsStaffByInfoAsPageoneResult" nillable="true" type="q18:BsStaffListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBsStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q19:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBsStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="DeleteBsStaffResult" nillable="true" type="q20:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BsStaffIsOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q21:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BsStaffIsOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BsStaffIsOnlineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStaffIsOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="staffs" nillable="true" type="q22:ArrayOfBsStaffDtoone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStaffIsOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="UpdateStaffIsOnlineResult" nillable="true" type="q23:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operationType" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="staffs" nillable="true" type="q24:ArrayOfBsStaffDtoone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateStaffResult" nillable="true" type="q25:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="department" nillable="true" type="q26:BsDepartmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateDepartmentResult" nillable="true" type="q27:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="team" nillable="true" type="q28:BsTeamDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateTeamResult" nillable="true" type="q29:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateTeamStaffs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="teamId" type="q30:guid" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="staffPassgrades" nillable="true" type="q31:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateTeamStaffsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateTeamStaffsResult" nillable="true" type="q32:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="departments" nillable="true" type="q33:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="DeleteDepartmentsResult" nillable="true" type="q34:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeams">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="teams" nillable="true" type="q35:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="DeleteTeamsResult" nillable="true" type="q36:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllDepartmentResult" nillable="true" type="q37:ArrayOfBsDepartmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartmentsWithLeader">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartmentsWithLeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllDepartmentsWithLeaderResult" nillable="true" type="q38:ArrayOfBsDepartmentLeaderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamsByDepartmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="departmentId" type="q39:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamsByDepartmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetTeamsByDepartmentIdResult" nillable="true" type="q40:ArrayOfBsTeamDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffsByTeamId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="teamId" type="q41:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffsByTeamIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetStaffsByTeamIdResult" nillable="true" type="q42:ArrayOfBsStaffDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTeams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllTeamsResult" nillable="true" type="q43:ArrayOfBsTeamDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffsByTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="teamId" type="q44:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffsByTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetStaffsByTeamResult" nillable="true" type="q45:ArrayOfBsStaffTeamDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStaffsInRelated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="departmentId" type="q46:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStaffsInRelatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllStaffsInRelatedResult" nillable="true" type="q47:ArrayOfBsStaffTeamDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffsWithNoTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="departmentId" type="q48:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffsWithNoTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetStaffsWithNoTeamResult" nillable="true" type="q49:ArrayOfBsStaffTeamDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffsWithTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="departmentId" type="q50:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffsWithTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetStaffsWithTeamResult" nillable="true" type="q51:ArrayOfBsStaffTeamDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffsInRelated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="departmentId" type="q52:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffsInRelatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetStaffsInRelatedResult" nillable="true" type="q53:ArrayOfBsStaffTeamDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffsByInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffsByInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetStaffsByInfoResult" nillable="true" type="q54:ArrayOfBsStaffTeamDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamStaffs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="teamId" type="q55:guid" />
        <xs:element minOccurs="0" name="passgrades" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamStaffsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddTeamStaffsResult" nillable="true" type="q56:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStaffFromTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="teamId" type="q57:guid" />
        <xs:element minOccurs="0" name="staffPassgrades" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStaffFromTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="DeleteStaffFromTeamResult" nillable="true" type="q58:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTeamLeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="teamId" type="q59:guid" />
        <xs:element minOccurs="0" name="staffPassgrades" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTeamLeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="SetTeamLeaderResult" nillable="true" type="q60:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDepartmentLeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="departId" type="q61:guid" />
        <xs:element minOccurs="0" name="staffPassgrades" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDepartmentLeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="SetDepartmentLeaderResult" nillable="true" type="q62:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTendaySchedualTableByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTendaySchedualTableByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetTendaySchedualTableByDateResult" nillable="true" type="q63:ArrayOfBsSchedualTableDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateScheduals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="departmentId" type="q64:guid" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="teams" nillable="true" type="q65:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateSchedualsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateSchedualsResult" nillable="true" type="q66:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedualTeamsByDepartmentIdAndDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="departmentId" type="q67:guid" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedualTeamsByDepartmentIdAndDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetSchedualTeamsByDepartmentIdAndDateResult" nillable="true" type="q68:ArrayOfBsTeamDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonthSchedualTableByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonthSchedualTableByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetMonthSchedualTableByDateResult" nillable="true" type="q69:ArrayOfBsSchedualExcelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateBsAttendance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="attendances" nillable="true" type="q70:ArrayOfBsAttendanceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateBsAttendanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateBsAttendanceResult" nillable="true" type="q71:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBsAttendance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="attendances" nillable="true" type="q72:ArrayOfBsAttendanceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBsAttendanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="DeleteBsAttendanceResult" nillable="true" type="q73:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBsAttendances">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBsAttendancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllBsAttendancesResult" nillable="true" type="q74:ArrayOfBsAttendanceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateAttendanceWorkRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="workRecords" nillable="true" type="q75:ArrayOfBsAttendanceWorkRecordDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateAttendanceWorkRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateAttendanceWorkRecordResult" nillable="true" type="q76:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAndSetPassResourceByIp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isClose" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAndSetPassResourceByIpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAndSetPassResourceByIpResult" nillable="true" type="q77:BsResourceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPositionStartTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffPass" nillable="true" type="xs:string" />
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="resourceId" type="q78:guid" />
        <xs:element minOccurs="0" name="positionType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPositionStartTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddPositionStartTimeResult" nillable="true" type="q79:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPositionEndTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="recordId" type="q80:guid" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPositionEndTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddPositionEndTimeResult" nillable="true" type="q81:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaidoffAllPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="resourceId" type="q82:guid" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaidoffAllPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="LaidoffAllPositionResult" nillable="true" type="q83:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffInfoByPositionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="resourceId" type="q84:guid" />
        <xs:element minOccurs="0" name="position" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffInfoByPositionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetStaffInfoByPositionInfoResult" nillable="true" type="q85:ArrayOfBsAttendanceStaffInfoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttendanceWorkRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="workRecords" nillable="true" type="q86:ArrayOfBsAttendanceWorkRecordDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttendanceWorkRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="DeleteAttendanceWorkRecordResult" nillable="true" type="q87:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAttendanceWorkRecords">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAttendanceWorkRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllAttendanceWorkRecordsResult" nillable="true" type="q88:ArrayOfBsAttendanceWorkRecordDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceRecordsByInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceRecordsByInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAttendanceRecordsByInfoResult" nillable="true" type="q89:AttendanceRecordTimeLineListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPassWorkingStaffRealtimeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="resourceId" type="q90:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPassWorkingStaffRealtimeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetPassWorkingStaffRealtimeInfoResult" nillable="true" type="q91:ArrayOfBsAttendanceRecordRealtimeStaffDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPassResourcesByPassRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPassResourcesByPassRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetPassResourcesByPassRegionResult" nillable="true" type="q92:ArrayOfBsResourceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateBsSuspect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="records" nillable="true" type="q93:ArrayOfBsSuspectDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateBsSuspectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateBsSuspectResult" nillable="true" type="q94:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBsSuspects">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q95:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBsSuspectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="DeleteBsSuspectsResult" nillable="true" type="q96:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBsSuspectAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBsSuspectAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllBsSuspectAsPageResult" nillable="true" type="q97:BsSuspectListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsSuspectByInfoAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsSuspectByInfoAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetBsSuspectByInfoAsPageResult" nillable="true" type="q98:BsSuspectListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnSusPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
        <xs:element minOccurs="0" name="j" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnSusPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="ReturnSusPageResult" nillable="true" type="q99:ArrayOfBsSuspectDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSuspectExcel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSuspectExcelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllSuspectExcelResult" nillable="true" type="q100:ArrayOfBsSuspectExcelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateBsContraband">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="records" nillable="true" type="q101:ArrayOfBsContrabandDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateBsContrabandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateBsContrabandResult" nillable="true" type="q102:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBsContraband">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q103:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBsContrabandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="DeleteBsContrabandResult" nillable="true" type="q104:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBsContrabandAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBsContrabandAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllBsContrabandAsPageResult" nillable="true" type="q105:BsContrabandListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsContrabandByInfoAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsContrabandByInfoAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetBsContrabandByInfoAsPageResult" nillable="true" type="q106:BsContrabandListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateBsTemporaryGoods">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="records" nillable="true" type="q107:ArrayOfBsTemporaryGoodsDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateBsTemporaryGoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateBsTemporaryGoodsResult" nillable="true" type="q108:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBsTemporaryGoods">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q109:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBsTemporaryGoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="DeleteBsTemporaryGoodsResult" nillable="true" type="q110:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBsTemporaryGoodsAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBsTemporaryGoodsAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllBsTemporaryGoodsAsPageResult" nillable="true" type="q111:BsTemporaryGoodsListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsTemporaryGoodsByInfoAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsTemporaryGoodsByInfoAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetBsTemporaryGoodsByInfoAsPageResult" nillable="true" type="q112:BsTemporaryGoodsListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsTemporaryGoodsByPassenger">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="records" nillable="true" type="q113:BsTemporaryGoodsDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsTemporaryGoodsByPassengerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetBsTemporaryGoodsByPassengerResult" nillable="true" type="q114:BsTemporaryGoodsListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateRcCivilization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="records" nillable="true" type="q115:ArrayOfRcCivilizationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateRcCivilizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateRcCivilizationResult" nillable="true" type="q116:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRcCivilization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q117:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRcCivilizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="DeleteRcCivilizationResult" nillable="true" type="q118:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcCivilizationByInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcCivilizationByInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetRcCivilizationByInfoResult" nillable="true" type="q119:ArrayOfRcCivilizationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRcCivilizationAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRcCivilizationAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllRcCivilizationAsPageResult" nillable="true" type="q120:RcCivilizationListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcCivilizationByInfoAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcCivilizationByInfoAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetRcCivilizationByInfoAsPageResult" nillable="true" type="q121:RcCivilizationListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateRcEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="records" nillable="true" type="q122:ArrayOfRcEventDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateRcEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateRcEventResult" nillable="true" type="q123:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRcEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q124:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRcEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="DeleteRcEventResult" nillable="true" type="q125:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcEventByInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcEventByInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetRcEventByInfoResult" nillable="true" type="q126:ArrayOfRcEventDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRcEventAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRcEventAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllRcEventAsPageResult" nillable="true" type="q127:RcEventListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcEventByInfoAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcEventByInfoAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetRcEventByInfoAsPageResult" nillable="true" type="q128:RcEventListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateRcGlean">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="records" nillable="true" type="q129:ArrayOfRcGleanDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateRcGleanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateRcGleanResult" nillable="true" type="q130:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcGleanByInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcGleanByInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetRcGleanByInfoResult" nillable="true" type="q131:ArrayOfRcGleanDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRcGlean">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q132:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRcGleanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="DeleteRcGleanResult" nillable="true" type="q133:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRcGleanAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRcGleanAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllRcGleanAsPageResult" nillable="true" type="q134:RcGleanListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcGleanByInfoAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcGleanByInfoAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetRcGleanByInfoAsPageResult" nillable="true" type="q135:RcGleanListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateRcHand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="records" nillable="true" type="q136:ArrayOfRcHandDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateRcHandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateRcHandResult" nillable="true" type="q137:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcHandByInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcHandByInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetRcHandByInfoResult" nillable="true" type="q138:ArrayOfRcHandDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRcHand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q139:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRcHandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="DeleteRcHandResult" nillable="true" type="q140:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRcHandAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRcHandAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllRcHandAsPageResult" nillable="true" type="q141:RcHandListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcHandByInfoAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcHandByInfoAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetRcHandByInfoAsPageResult" nillable="true" type="q142:RcHandListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateRcRewordpunish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="records" nillable="true" type="q143:ArrayOfRcRewordpunishDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateRcRewordpunishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateRcRewordpunishResult" nillable="true" type="q144:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateRewordpunishDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="records" nillable="true" type="q145:ArrayOfRcRewordpunishDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateRewordpunishDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateRewordpunishDepartmentResult" nillable="true" type="q146:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcRewordpunishByInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcRewordpunishByInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetRcRewordpunishByInfoResult" nillable="true" type="q147:ArrayOfRcRewordpunishDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRcRewordpunish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q148:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRcRewordpunishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="DeleteRcRewordpunishResult" nillable="true" type="q149:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRcRewordpunishAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRcRewordpunishAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllRcRewordpunishAsPageResult" nillable="true" type="q150:RcRewordpunishListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcRewordpunishByInfoAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRcRewordpunishByInfoAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetRcRewordpunishByInfoAsPageResult" nillable="true" type="q151:RcRewordpunishListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLoginLogAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLoginLogAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllLoginLogAsPageResult" nillable="true" type="q152:SysLoginLogListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginLogsByInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginLogsByInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetLoginLogsByInfoResult" nillable="true" type="q153:SysLoginLogListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginLogsByInfoAndTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginLogsByInfoAndTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetLoginLogsByInfoAndTimeResult" nillable="true" type="q154:SysLoginLogListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateBsCamera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="bs" nillable="true" type="q155:ArrayOfBsCameraDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateBsCameraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateBsCameraResult" nillable="true" type="q156:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsCameraByInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsCameraByInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetBsCameraByInfoResult" nillable="true" type="q157:ArrayOfBsCameraDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsCameraByResourceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="resourceId" type="q158:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsCameraByResourceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetBsCameraByResourceIdResult" nillable="true" type="q159:ArrayOfBsCameraDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetResourceCameraRelations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="resourceId" type="q160:guid" />
        <xs:element xmlns:q161="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cameraIds" nillable="true" type="q161:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetResourceCameraRelationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="SetResourceCameraRelationsResult" nillable="true" type="q162:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCamerasAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCamerasAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllCamerasAsPageResult" nillable="true" type="q163:BsCameraListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsCameraByInfoAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsCameraByInfoAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetBsCameraByInfoAsPageResult" nillable="true" type="q164:BsCameraListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBsCamera">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBsCameraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllBsCameraResult" nillable="true" type="q165:ArrayOfBsCameraDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletBsCamera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q166:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletBsCameraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="DeletBsCameraResult" nillable="true" type="q167:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVIP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllVIPResult" nillable="true" type="q168:ArrayOfBsImportantPassengerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVipPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVipPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetVipPageResult" nillable="true" type="q169:ArrayOfBsImportantPassengerDto" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VIPAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="vipDto" nillable="true" type="q170:BsImportantPassengerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VIPAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="VIPAddResult" nillable="true" type="q171:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VIPUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="vipDto" nillable="true" type="q172:BsImportantPassengerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VIPUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="VIPUpdateResult" nillable="true" type="q173:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VIPDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="vipDto" nillable="true" type="q174:BsImportantPassengerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VIPDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="VIPDeleteResult" nillable="true" type="q175:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBlacklistsAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBlacklistsAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllBlacklistsAsPageResult" nillable="true" type="q176:BsBlacklistListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateBsBlacklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="bl" nillable="true" type="q177:ArrayOfBsBlacklistDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateBsBlacklistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateBsBlacklistResult" nillable="true" type="q178:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsBlacklistByInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsBlacklistByInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetBsBlacklistByInfoResult" nillable="true" type="q179:ArrayOfBsBlacklistDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsBlacklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsBlacklistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetBsBlacklistResult" nillable="true" type="q180:ArrayOfBsBlacklistDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandBsBlacklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="blacklist" nillable="true" type="q181:ArrayOfBsBlacklistDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandBsBlacklistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="HandBsBlacklistResult" nillable="true" type="q182:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHandBsBlacklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="blacklist" nillable="true" type="q183:ArrayOfBsBlacklistDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHandBsBlacklistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="UpdateHandBsBlacklistResult" nillable="true" type="q184:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsBlacklistByInfoAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsBlacklistByInfoAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetBsBlacklistByInfoAsPageResult" nillable="true" type="q185:BsBlacklistListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletBsBlacklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q186:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletBsBlacklistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="DeletBsBlacklistResult" nillable="true" type="q187:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateBsSuspectFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="bs" nillable="true" type="q188:ArrayOfBsSuspectFlightDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateBsSuspectFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="AddOrUpdateBsSuspectFlightResult" nillable="true" type="q189:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBsSuspectFlights">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q190:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBsSuspectFlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/Scmis.Services.OperationUtil" minOccurs="0" name="DeleteBsSuspectFlightsResult" nillable="true" type="q191:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBsSuspectFlightAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBsSuspectFlightAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetAllBsSuspectFlightAsPageResult" nillable="true" type="q192:BsSuspectFlightListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsSuspectFlightByInfoAsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBsSuspectFlightByInfoAsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/Scmis.Services.Models.Dtos" minOccurs="0" name="GetBsSuspectFlightByInfoAsPageResult" nillable="true" type="q193:BsSuspectFlightListDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>